<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<style>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		  display: none !important;
		}
	</style>
</head>
<body ng-controller="controlador as ctrl">

<a href ng-click="ctrl.accion='insertar'">Insertar</a>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombres</th>
			<th>Apellidos</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-show="ctrl.accion=='insertar'">
			<td></td>
			<td><input type="text" ng-model="ctrl.datosUsuario.nombres"></td>
			<td><input type="text" ng-model="ctrl.datosUsuario.apellidos"></td>
			<td>
				<a href ng-click="ctrl.insertar()">Grabar</a>
				<a href ng-click="ctrl.accion=''">Cancelar</a>
			</td>
		</tr>
		<tr ng-repeat="item in ctrl.usuarios" class="ng-cloak">
			<td>{{item.id}}</td>
			<td>
				<span ng-hide="item.accion=='editar'">{{item.nombres}}</span>
				<input type="text" ng-model="item.nombres" ng-show="item.accion=='editar'">
			</td>
			<td>
				<span ng-hide="item.accion=='editar'">{{item.apellidos}}</span>
				<input type="text" ng-model="item.apellidos" ng-show="item.accion=='editar'">
			</td>
			<td>
				<a href ng-click="ctrl.editar(item)" ng-hide="item.accion=='editar'">Editar</a>&nbsp;
				<a href ng-click="ctrl.grabar(item)" ng-show="item.accion=='editar'">Grabar</a>&nbsp;
				<a href ng-click="item.accion=''" ng-show="item.accion=='editar'">Cancelar</a>&nbsp;
				<a href ng-click="ctrl.eliminar(item)">Eliminar</a>
			</td>
		</tr>
	</tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

<script>
	angular
		.module("app",[])
		.controller("controlador",["$http", function($http){
/*			this.usuarios = [
				{id: 1, nombres: "Sergio", apellidos: "Hidalgo"},
				{id: 2, nombres: "Gabriela", apellidos: "Altamirano"},
				{id: 3, nombres: "Evelyn", apellidos: "Gotfried"}
			]*/

			var ref = this;
			this.accion = "";
			this.datosUsuario = {};
	
			function listar(){
				$http
					.get("/usuarios")
					.then(
						function(respuesta){
							ref.usuarios = respuesta.data;
							ref.usuarios.forEach(function(item){
								item.accion="";
							})
							// console.log(respuesta);
						}, 
						function(err){
							console.log(err);
						}
					);			
			}

			this.editar = function(item) {
				item.accion = "editar";
				/*$http
					.get("/usuarios/"+item.id)
					.then(function(respuesta){
						if(respuesta.data.length) {
							ref.datosUsuario = respuesta.data[0];
						}					
					}, function(err){
						console.log(err);
					})*/
			};

			this.grabar = function(item){
				$http
					.put("/usuarios/"+item.id,
						item)
					.then(function(respuesta){
						// listar();
						item.accion="";
					}, function(err){
						console.log(err);
					});
			};

			this.insertar = function(){
				$http
					.post("/usuarios", this.datosUsuario)
					.then(function(respuesta){
						ref.accion="";
						ref.datosUsuario = {};
						listar();
					}, function(err){
						console.log(err);
					})
			};

			this.eliminar = function(item) {
				$http
					.delete("/usuarios/"+item.id)
					.then(function(respuesta){
						listar();
					}, function(err){
						console.log(err);
					})					
			}

			listar();

		}])

</script>


</body>
</html>