<% include ../parciales/cabecera.ejs %>
	<div class="col-sm-6">
		<form action="/peliculas/insertar" method="post">
			<div class="form-group">
				<input type="text" name="titulo" placeholder="Ingrese el título" class="form-control">
			</div>
			<div class="form-group">
				<input type="text" name="anno" placeholder="Ingrese el año" class="form-control">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Agregar película</button>
			</div>						
		</form>
	</div>

<% include ../parciales/pie.ejs %>