<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<pre>
		<%= usuario.id%><br>
		<%= usuario.provider%><br>
		<%= usuario.name%><br>
		<img src="<%= usuario.photo %>"/>
	</pre>

</body>
</html>