<form action="/insertar" method="post">
	<input type="text" name="nombres" placeholder="Ingresa los nombres">
	<br>
	<input type="text" name="apellidos" placeholder="Ingresa los apellidos">
	<br>
	<button type="submit">Insertar</button>
</form>