<h1>Agregar usuario</h1>

<form action="/insertar" method="post">
  <input type="text" name="usuario" placeholder="Ingrese usuario">

  <br>

  <input type="password" name="contrasena" placeholder="Ingrese contraseña">

  <button type="submit">Ingresar</button>
</form>
