<html>
	<head>
		
	</head>
	<body>
		<form action="/subir" method="post" enctype="multipart/form-data">
			<input type="file" name="archivoSubir">
			<button type="submit">Subir archivo</button>
		</form>
	</body>
</html>