	<form method="post" action="/diagnosticos/actualizar/<%= reg[0].idDiagnostico %>">
		<input type="text" name="nombreDiagnostico" placeholder="Ingrese el nombre" value="<%= reg[0].nombreDiagnostico %>"><br>
		<button type="submit">Enviar</button>
	</form>

