	<form method="post" action="/enfermeros/actualizar/<%= reg[0].idEnfermero %>">
		<input type="text" name="nombreCompleto" placeholder="Ingrese el nombre" value="<%= reg[0].nombreCompleto %>"><br>
		<button type="submit">Enviar</button>
	</form>

