	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% regs.forEach(function(reg){ %>
			<tr>
				<td><%= reg.idEnfermero %></td>
				<td><%= reg.nombreCompleto %></td>
				<td><a href="/enfermeros/editar/<%= reg.idEnfermero %>">Editar</a>&nbsp;<a href="/enfermeros/eliminar/<%= reg.idEnfermero %>">Eliminar</a></td>
			</tr>
			<% }) %>
		</tbody>
	</table>
	<form method="post" action="/enfermeros/insertar">
		<input type="text" name="nombreCompleto" placeholder="Ingrese el nombre"><br>
		<button type="submit">Enviar</button>
	</form>
