<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Login con: </h1>
	<ul>
		<li><a href="/loginFacebook">Facebook</a></li>
		<li><a href="/loginGoogle">Google</a></li>
	</ul>

</body>
</html>