<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Nombre: <%= name %></h1>
	<h2>Id: <%= id %></h2>
	<h2>Proveedor: <%= proveedor %></h2>
	<pre>
		<img src="<%= photo %>" />
	</pre>

</body>
</html>