<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<ul>
		<li><a href="#">Login con Facebook</a></li>
	</ul>

	<pre>
		<%= usuario.id%><br>
		<%= usuario.usuario%><br>
		<%= usuario.contrasena%><br>
	</pre>

</body>
</html>