<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form method="post" action="/autenticar">
		<input type="text" name="usuario" placeholder="Usuario"><br>
		<input type="password" name="contrasena" placeholder="Contraseña"><br>
		<button type="submit">Enviar</button>


	</form>

</body>
</html>